{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <div class="{{ particle.class|e }}">
        {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

        <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel owl-theme {% if particle.imageOverlay == 'enable' %}has-color-overlay{% endif %}">

            {% for item in particle.items %}
                {% if not item.disable %}
                                <img src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" />
                {% endif %}
            {% endfor %}

{% endblock %}

{% block javascript_footer %}
    {% do gantry.load('jquery') %}
    <script src="{{ url('gantry-theme://js/owl.carousel.2.3.4.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
        loop: true,
        {% if particle.nav == 'enable' %}
        nav: true,
        navText: ['{{ particle.prevText|default('<i class="fa fa-chevron-left" aria-hidden="true"></i>')|e('js') }}', '{{ particle.nextText|default('<i class="fa fa-chevron-right" aria-hidden="true"></i>')|e('js') }}'],
        {% else %}
        nav: false,
        {% endif %}
        {% if particle.dots == 'enable' %}
        dots: true,
        {% else %}
        dots: false,
        {% endif %}
        {% if particle.autoplay == 'enable' %}
        autoplay: true,
        autoplayTimeout: {{ particle.autoplaySpeed|default('5000') }},
        {% else %}
        autoplay: false,
        {% endif %}
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:{{ particle.itemsVisible|default('5') }}
            }
        }
    })
});
</script>





{% endblock %}
